In [1]:
import pandas as pd

In [23]:
df = pd.read_csv("springfield_azure_resources.csv")

In [24]:
columns = ['resource_name', 'resource_type', 'location', 'owner', 'environment', 'subscription_id', 'resource_group_name', 'resource_id', 'sku','migration_wave']

df = df[columns]

In [25]:
df['owner'].value_counts()

owner
Marge       715
Homer       651
Lisa        529
Bart        213
Ned         148
Milhouse    132
Apu         112
Name: count, dtype: int64

In [26]:
df['environment'].value_counts()

environment
test           235
Dev            230
STAGING        221
staging        212
uat            212
production     211
dev            210
prod           204
PROD           196
qa             195
Test           195
development    179
Name: count, dtype: int64

In [32]:
df['environment'] = (
    df['environment']
    .apply(lambda x: x.lower().strip()[:3])
    .apply(lambda x: {'pro':'prod', 'tes':'test', 'sta':'staging'}.get(x, x))
)

df['environment'].value_counts()

environment
dev        619
prod       611
staging    433
test       430
uat        212
qa         195
Name: count, dtype: int64

In [12]:
df['migration_wave'].value_counts()

migration_wave
wave1     453
WAVE 2    444
Wave 4    419
Wave 1    417
Wave 2    408
Wave 3    359
Name: count, dtype: int64

In [33]:
df['migration_wave'] = df['migration_wave'].apply(lambda x: x.lower().replace(" ", ""))
df['migration_wave'].value_counts()

migration_wave
wave1    870
wave2    852
wave4    419
wave3    359
Name: count, dtype: int64

In [39]:
pivot = (
    df
    .groupby(['environment','owner'])
    .size()
    .unstack(fill_value=0)               # owners â†’ columns, fill missing with zero
)

print(pivot)

owner        Apu  Bart  Homer  Lisa  Marge  Milhouse  Ned
environment
dev           27    50    169   118    184        27   44
prod          24    49    170   130    169        33   36
qa            11    18     45    42     57        13    9
staging       28    35     98   103    130        20   19
test          16    35    115    90    116        27   31
uat            6    26     54    46     59        12    9

In [40]:
df.groupby(['environment','owner']).size().index

MultiIndex([(    'dev',      'Apu'),
            (    'dev',     'Bart'),
            (    'dev',    'Homer'),
            (    'dev',     'Lisa'),
            (    'dev',    'Marge'),
            (    'dev', 'Milhouse'),
            (    'dev',      'Ned'),
            (   'prod',      'Apu'),
            (   'prod',     'Bart'),
            (   'prod',    'Homer'),
            (   'prod',     'Lisa'),
            (   'prod',    'Marge'),
            (   'prod', 'Milhouse'),
            (   'prod',      'Ned'),
            (     'qa',      'Apu'),
            (     'qa',     'Bart'),
            (     'qa',    'Homer'),
            (     'qa',     'Lisa'),
            (     'qa',    'Marge'),
            (     'qa', 'Milhouse'),
            (     'qa',      'Ned'),
            ('staging',      'Apu'),
            ('staging',     'Bart'),
            ('staging',    'Homer'),
            ('staging',     'Lisa'),
            ('staging',    'Marge'),
            ('staging', 'Milhouse'),
            ('staging',      'Ned'),
            (   'test',      'Apu'),
            (   'test',     'Bart'),
            (   'test',    'Homer'),
            (   'test',     'Lisa'),
            (   'test',    'Marge'),
            (   'test', 'Milhouse'),
            (   'test',      'Ned'),
            (    'uat',      'Apu'),
            (    'uat',     'Bart'),
            (    'uat',    'Homer'),
            (    'uat',     'Lisa'),
            (    'uat',    'Marge'),
            (    'uat', 'Milhouse'),
            (    'uat',      'Ned')],
           names=['environment', 'owner'])

In [41]:
df.groupby(['environment','owner']).size().unstack().index

Index(['dev', 'prod', 'qa', 'staging', 'test', 'uat'], dtype='object', name='environment')

In [42]:
df.groupby(['environment','owner']).size().unstack().columns

Index(['Apu', 'Bart', 'Homer', 'Lisa', 'Marge', 'Milhouse', 'Ned'], dtype='object', name='owner')